<h2>My Courses</h2>

<div>
  <label>Course name:
    <input #courseName />
  </label>
  <button (click)="addCourse(courseName.value); courseName.value=''">
    Add
  </button>
</div>

<ul class="courses">
  <li *ngFor="let course of this.courses">
    <a routerLink="/detail/{{course.id}}">
      <span class="badge">{{course.id}}</span> {{course.name}}
    </a>
    <button class="delete" title="delete course"
      (click)="deleteCourse(course)"><span>+</span></button>
  </li>
</ul>
