/* AppComponent's private CSS styles */
h1 {
  font-size: 3.2em;
  text-align: center;
  margin-bottom: 0;
  color: #8a2a23;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #333;
}
nav a:hover {
  color: #fff;
  background-color: #8a2a23;
}

button:active {
  border: none !important;
}
