<div *ngIf="course">
  <h2>{{course.name | uppercase}} Details</h2>
  <div><span>id: </span>{{course.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="course.name" placeholder="name"/>
    </label>
  </div>

  <app-students-list></app-students-list>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
