<div id="search-component">
  <h4><label for="search-box">Course Search</label></h4>

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let course of courses$ | async" >
      <a routerLink="/detail/{{course.id}}">
        {{course.name}}
      </a>
    </li>
  </ul>
</div>
