<div >
  <h2>Student Details {{student.nameSurname | uppercase}}</h2>
  <div><span>ID: </span>{{student.id}}</div>
  <div>
    <label>Name and Surname:
      <input [(ngModel)]="student.nameSurname" placeholder="Name Surname"/>
    </label>
  </div>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
