<h2>All students on the course</h2>

<div>
  <label>Student name and surname:
    <input #studentName />
  </label>
  <button (click)="addStudent(studentName.value); studentName.value=''">
    Add
  </button>
</div>

<ul class="students">
  <li *ngFor="let student of this.students">
    <a routerLink="/student/{{student.id}}">
      <span class="badge">{{student.id}}</span> {{student.nameSurname}}
    </a>
    <button class="delete" title="delete student"
            (click)="deleteStudent(student)"><span>+</span></button>
  </li>
</ul>

<app-students-serach></app-students-serach>
