.students {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 330px;
}
.students li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.students li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.students a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.students a:hover {
  color:#fff;
}

.students .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#8a2a23;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #8a2a23;
  color: #fff;
}

button.delete {
  position: absolute;
  background-color: #8a2a23;
  color: white;
  right: 3px;
  z-index: 7;
  top: 5px;
}

button.delete span {
  transform: rotate(45deg);
  display: block;
}


