<div id="search-component">
  <h4><label for="search-box">Students Search</label></h4>

  <input #searchBox id="search-box" (input)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let student of students$ | async" >
      <a routerLink="/detail/{{student.id}}">
        {{student.nameSurname}}
      </a>
    </li>
  </ul>
</div>

